.white-placeholder {
    color: white!important;
    outline: none;
}
.white-placeholder::-moz-focus-inner {
    outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}
.search-suggestion-container {
   top: 90%;
   max-height: 200px;
   width: 27%;
   background-color: white;
   position: absolute;
   overflow-y: scroll;
   transition: all 0.4s ease-in;
}
.search-suggestion-container ul li {
   list-style: none;
}
.search-suggestion-container ul li:nth-child(even) {
   background-color: #f0f1f3;
}
.search-suggestion-container ul li:hover {
   background-color: black;
   color: white;
   transition: all 0.3s ease;
}